body{
    font-family: Inter;
    max-width: 1180px;
    margin: 0 auto;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 100px;    
    border-bottom: 1px solid rgba(145, 0, 248, 1);
    background-color: #1a0a2e;
}


.header button{
    padding: 12px 20px;
    border-radius: 30px;
    text-align: center;
    font-style: 500;
    font-size: 16px;
    font-weight: 600;
    color: white;
    border: none;
    background: linear-gradient(390deg,#ffcc00,#ff00ff, rgba(145, 0, 248, 1));
}

.logo{
  font-style: 900;
  font-size: 45px;
  font-weight: 800;
  line-height: 73px;
}



.tech{
  color:#ffffff;
}

.wave{
  background: linear-gradient(390deg,#ffcc00,#ff00ff, rgba(145, 0, 248, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.header ul{
    display: flex;
    list-style: none;
    gap: 32px;
    color: white;
}

.banner-container{
    position: relative;
    width: 100%;
}

.banner-image{
    width: 100%;
    position: relative;
    display: block;
   
}

.hero-circle{
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    bottom: 40%;
    width: 255px;
}

.microphone{
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    bottom: 50%;
    width: 100px;
}

  
.banner-text{
    position: absolute;
    text-align: center;
    left: 50%;
    bottom: 4%;
    transform: translateX(-50%);

}

.new{
    padding: 5px 12px;
    border-radius: 20px;
    background-color: #00FF88;
    position: absolute;
    left: 60%;
    top: -90%;
    box-shadow: 0 8px 24px rgba(0, 255, 115, 0.482);
}



.banner-text h2{
    color: white;
    font-style: 700;
    font-size: 60px;
    font-weight: 800;
   
}

.banner-text p{
    color: white;
    font-style: 300;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.5;
}

.banner-text h1{
    font-size: 60px;
    color: white;
}

.banner-btn1{
    padding: 12px 20px;
    border-radius: 30px;
    text-align: center;
    font-style: 500;
    font-size: 16px;
    font-weight: 600;
    color: white;
    border: none;
    background: linear-gradient(390deg,#ffcc00,#ff00ff, rgba(145, 0, 248, 1));
}

.banner-btn2{
    background: transparent;
    padding: 12px 20px;
    border-radius: 30px;
    text-align: center;
    font-style: 500;
    font-size: 16px;
    font-weight: 600;
    border-color: #00FF88;
    color: #00FF88;
}

.btn-img{
    margin-right: 5px;
}

.reviews-container{
    background-color: #1a0a2e;
    
}

.reviews-text{
    text-align: center;
    padding: 50px 200px;
    color: white;
}

.reviews-text h2{
    font-size: 48px;
    font-weight: 700;
}

.reviews-text p{
    font-size: 16px;
    font-weight: 300;
    opacity: 0.5;
}


.reviews{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 100px;
}

.reviews h1{
    font-size: 48px;
    font-weight: 900;
    color: #00d06f;
}

.reviews p{
    font-size: 16px;
    font-weight: 400;
    opacity: 0.5;
    color: white;

}

.grid-container{
    background-color: rgba(35, 14, 61, 1);
    padding: 100px;
}

.grid-title{
    color: white;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 40px;


}

.grid-details{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: white;
    gap: 30px;
}

.grid-details p{
    opacity: 0.5;
    font-weight: 200;
}

.grid-details h2{
    font-style: 700;
    font-size: 24px;
}

.firstgrid{
    grid-column: span 1;
    grid-row: span 2;
    border-radius: 40px;
    background: rgba(53, 17, 101, 0.4);
    padding: 90px 20px;
}

.firstgrid2{
    grid-column: span 2;
    grid-row: span 1;
    border-radius: 40px;
    background: rgba(53, 17, 101, 0.4);
    padding: 40px;

}

.firstgrid3{
    grid-column: span 1;
    grid-row: span 1;
    border-radius: 40px;
    background: rgba(53, 17, 101, 0.4);
    padding: 40px;

}

.iframe{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    
    
}

.iframe-card{
    background-color: rgba(37, 13, 68, 1);
    padding-bottom: 20px;
    border-radius: 24px;
    width: 300px;
}

.iframe-card iframe{
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
}



.iframe-container{
    background-color: #1a0a2e;
    padding: 100px;
}

.h2{
    padding: 0 20px;
    color: white;
    font-size: 24px;
}

.p{
    padding: 0 20px;
    color: white;
    opacity: 0.5;
    font-size: 16px;
    font-weight: 200;
}

.iframe-caption{
    color: white;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 40px;
}

.clock{
    padding-left: 20px;
    text-align: center;
}

.iframe-card span{
    color: #00FF88;
    
}